* {
  background-color: darkslategray;

}

.App {
  text-align: left;
  color:white;
}

p {
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
  font-weight:500;
}

a {
  color: white;
  font-weight: initial;
  letter-spacing: .025em;
  font-size: 1.75em;
  text-decoration: none;
}

h1 {
  text-align: left;
  margin-left: 200px;
  margin-top: 50px;
  font-size: 4em;
}

h2 {
  background-color: transparent;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 25px;
  margin-left: -8px;
  letter-spacing: .7px;
  font-size: 2em;
  font-weight: 800;
}

h3 {
  text-align: left;
  /* letter-spacing: .7px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: 800; */
}

h4 {
  text-align: left;
  margin-left: -8px;
  margin-bottom: -15px;
  font-style: italic;
  letter-spacing: .7px;
  font-size: 1em;
  font-weight: 500;
  
}

#header {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

#nav {
  position: fixed;
  top: 8%;
  left: 50%;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-top: 0px;
  margin-right: 70px;
  
}

.navLink {
  /* position: fixed; */
  margin-right: 10px;
  margin-left: 10px;
  top:0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
  border-radius: 50px;
  padding: 2px;
}

.navLink:hover {
  text-decoration: underline;
  text-underline-offset: .9em;
  text-decoration-thickness: .3em;
}

.navLink.active {
  font-weight: bold;
  letter-spacing: 0px;
  text-decoration: underline;
  text-underline-offset: .9em;
  text-decoration-thickness: .3em;
}

.inupLinks {
  display: 'relative';
  letter-spacing: 2.38px;
  margin-top: -15px;
  font-weight: 200;
  text-transform: uppercase;
  border-style: solid;
  border-color: white;
  border-radius: 50px;
  padding: 15px;
  margin-left: 20px;
}

.inupLinks:hover {
  font-weight: 800;
  letter-spacing: 0.1px;
}

.inupLinks.active {
  display: 'relative';
  letter-spacing: 0px;
  color: darkslateblue;
  background-color: white;
  margin-top: -15px;
  font-weight: 800;
  text-transform: uppercase;
  border-style: solid;
  border-color: white;
  border-radius: 50px;
  padding: 16px;
  margin-left: 20px;
}

#logout:hover {
  font-weight: bold;
  letter-spacing: .42px;
  text-decoration: none;
}

#logout {
  font-size: 20px;
  margin-top: 5px;
  letter-spacing: 1.4px;
  text-decoration: none;
}

#home {
  position: fixed;
  font-weight:bold;
  font-size: 3em;
  display: flex;
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 100px;
}

#home:hover {
  text-decoration: underline;
  text-underline-offset: .44em;
  text-decoration-thickness: .15em;
}

#home.active {
  text-decoration: underline;
  text-underline-offset: .44em;
  text-decoration-thickness: .15em;
}

.ArtCards {
position: relative;
display: flex;
flex-flow: row;
justify-content: flex-start;
margin: 98px;
top: 62px;
}

.ArtCard {
  min-width:28%;
  height:100%;
  display: flex;
  flex-flow: column;
  margin: 10px;
  margin-right: 35px;
  background-color: transparent;
}

.CardImgs {
outline-style: solid;
outline-width: 7.5px;
object-fit: cover;
min-width:100%;
min-height:100%;
background-size:contain;
background-position:center;
}

.ArtDeets {
width:100%;
margin-top: 2px;
background-color: transparent;
}

.ArtPage {
  display: flex;
  flex-flow:row;
}

.ArtPageImg {
  display: relative;
  margin-left: 100px;
  margin-top: 180px;
  align-self: center;
  max-width:40%;
  height:100%;
}

.ArtPageDeets {
  display: relative;
  margin-top: 200px;
  margin-left: 200px;
}

